/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {display: block;}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects
*/
img,
object,
embed {max-width: 100%;}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button,
input[type=button] {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/*************************************************************************
				МОИ СТИЛИ
**************************************************************************/
@font-face {
    font-family: Flatform; 
    src: url(fonts/flatform/Flatform_Light.otf);
}

@font-face {
	font-family: Satellite; 
    src: url(fonts/Satellite/Satellite.otf); 
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.container {
	flex-grow: 1;
}

.header {
	display: flex;	
	justify-content: center;
	width: 100%;
}

.wrapper {
	height: 115px;
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-family: 'Flatform', sans-serif;
	color: #4d4d4d;
	font-size: 36px;
	font-weight: 300;
	flex-grow: 1;
	margin-top: 10px;
}

.header__menu {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
    padding-left: 314px;
}

.menu__link {
	font-family:  'Open Sans', sans-serif;
	color: #4d4d4d;
	font-size: 16px;
	font-weight: 400;
	text-align: right;
	text-decoration: none;
}

.menu__link:hover {
	text-decoration: underline;
}

.billboard {
	background-image: url(img/Billboard__background.png);
	background-repeat: no-repeat;
	height:  575px;
	width: 100%;
	display: flex;
}

.billboard__title {
	margin: auto;
	text-align: center;
}

.billboard__title h1 {
	font-family:  'Satellite', sans-serif;
	color: #4d4d4d;
	font-size: 44px;
	font-weight: 400;
	line-height: 50px;
}

.billboard__title p {
	font-family: 'Open Sans', sans-serif;
	color: #4d4d4d;
	font-size: 16px;
	font-weight: 400;
	
}

.billboard__link {
	text-decoration: none;
	background-color: #4d4d4d;
	padding: 13px 68px;
	font-family: OpenSans;
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	border-radius: 30px;
	margin-top: 20px;
	line-height: 73px;
}

.billboard__link:after {
	content: ' \2192';
}

.services {
	display: flex;
	width: 80%;
	height: 390px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #f7f7f7;
}

.services__item {
	width: 29%;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.services__label {
	padding-bottom: 20px;
	margin-top: 16px; 
}

.services__descriptor h3 {
	font-family: 'Open Sans', sans-serif;
	color:#4d4d4d;
	font-size: 22px;
	font-weight: 700;
}

.services__descriptor p {
	font-family: 'Open Sans', sans-serif;
	color: #727272;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}

.video {
	height: 508px;
	border-bottom: 2px solid #f7f7f7;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.video__descriptor h3 {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	color: #4d4d4d;
	font-size: 28px;
	font-weight: 700;
	line-height: 55px;
	text-align: center;
	margin-top: 53px;
}

.video__descriptor p {
	font-family: 'Open Sans', sans-serif;
	color: #727272;
	font-size: 15.3px;
	font-weight: 400;
	text-align: center;
}

.video__video {
    margin-top: 64px;
    width: 614px;
    height: 346px;
}

.recent-work {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	height: 558px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #f7f7f7;
	text-transform: uppercase;
	padding-top: 43px;
}

.recent-work__item {
	width: 22%;
	background-color: #f7f7f7;
	height: 286px;
	margin-bottom: 55px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recent-work h3 {
	width: 100%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #4d4d4d;
	font-size: 29px;
	font-weight: 600;
}

.recent-work__descriptor {
	flex-grow: 1;
	align-content: center;
	text-align: center;
}

.recent-work__descriptor h5 {
	margin-top: 119px;
	font-family: 'Open Sans', sans-serif;
	color:	#d2d1d1;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
}

.recent-work__descriptor p {
	font-family: 'Open Sans', sans-serif;
	color:	#d2d1d1;
	font-size: 12px;
	font-weight: 700;
	font-style: italic;
	text-transform: lowercase;
	letter-spacing: 1px;
    line-height: 1px;
}

.recent-work__link {
	display: none;
}

.recent-work__link:after {
	content: ' \2192';
}

.recent-work__item:hover > .recent-work__link {
	display: block;
	width: 100%;
	padding: 15px 0;
	text-decoration: none;
	background-color: rgba(59, 59, 59, 0.85);
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	text-transform: capitalize;
}

.recent-work__item:hover {
	cursor: pointer;
}

.subscribe-box {
    height: 323px;
    background-color: #f7f7f7;
    text-align: center;
}

.subscribe-box__descriptor {
	padding-top: 84px;
}

.subscribe-box__descriptor h5 {
	font-family: 'OpenSans', sans-serif;
    text-transform: uppercase;
    font-size: 27.6px;
    font-weight: 600;
    color: #4d4d4d;
}

.subscribe-box__descriptor p {
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    color: #4d4d4d;
}

.subscribe-box__button {
	margin-top: 45px;
    background-color: transparent;
    padding: 13px 31px;
    border-radius: 27px;
    font-weight: 700;
    font-family: 'OpenSans', sans-serif;
    color: #4d4d4d;
    font-size: 15px;
    text-transform: uppercase;
    border: 2px solid #4d4d4d;
}

.social-media {
	height: 243px;
	width: 100%;
	display: flex;
    align-items: center;
}

.social-media__wrap {
	width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.social-media__link {
	height: 65px;
	width: 65px;
	border: 2px solid black;
}

